/* This defines styles and classes used in the book */
body { margin-left: 5%; margin-right: 5%; margin-top: 5%; margin-bottom: 5%; text-align: justify; font-size: medium; }
code { font-family: monospace; }
.page_titre .auteur {
    width: 100%;
    font-size: 1.5em;
    position: absolute;
    text-align: center;
    top: 1em;
    margin:0 0 0 -2.5em; }
.page_titre, h2 .titre, .page_titre .licence, .page_titre .auteur {
    padding: 1em 0;
    border-bottom: 1px solid;
    border-top: 1px solid; }
.licence {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 30em;
    margin:0 0 0 -3em; }
h1, h2 {
    font-family: "Bistream Vera Sans", arial, "Liberation Sans", sans-serif; }
.numero_partie {
    font-family: serif;}
h1 { 
    text-align: center;
    font-size:  3.5em; }
h2 {text-align: right;
    font-size:  2em;}
hgroup {
    margin: 15em 0 0 0; }
.titre { 
    display: block; }
.title { 
   text-align: center; }
h1.title {
    margin: -5em 0 0 0; }
h2.titre {
    padding: 1em 0;
    font-size:  2.5em }
h3.titre {
    padding: 1em 0;
    text-align: center; }
h3 { text-align: left; }
.lettrine+p {
    text-indent: 0; }
.lettrine+p:first-letter {
    font-size: 2.2em; /* float: left;*/ }
p {
    text-indent: 2em; }
.hashtag { 
    font-family: sans-serif; }
.epigraphe { 
    margin-bottom: 1em; 
    padding-left: 15em;
    font-size: 0.8em;
    font-style:italic; }
aside, .footnote {
    border-top: 1px solid; }
.analepse {
    font-weight: bold;
    margin-left: -2em ; }
.addenda .italic {
    font-style: italic; }
i.addenda {
    font-style: normal; }
q:before {
    content: "« "; }
q:after {
    content: " »"; }
blockquote {
    margin: 0 4em 0 4em;
    font-style: italic; }
blockquote:before {
    content: "« "; }
blockquote:after {
    content: " »"; }
.auteur {
font-variant:small-caps;
}
.biblio i {
    font-style: normal;}
.droit {
    font-style: normal;}
cite .droit {
    font-style: italic;}
ul li {
    list-style-type: none;}
ul li:before {
    content: "- ";}
aside ul li:before {
    content: "";}
aside {
    font-size:0.9em;}
.remarque img {
    margin-left:-60pt;
}
.remarque {
    border-left-color:rgb(0,0,0);
    border-left:1.5pt solid;
    padding-left:10pt;
    margin-left:50pt;
    margin-right:50pt;
    margin-top: 2em;
    margin-bottom: 2em;
    float:top;}
.cadre_gris {
    background-color: #DDDDDD;
    margin:1em;
    padding: 0 3em;
    float:top;}
.remarque h1 {
    margin-top: -40pt;
    font-size:1.5em;
    font-variant:small-caps;
    text-align: justify;}
.cadre_gris h1 {
    font-size:1.5em;
    font-variant:small-caps;
    text-align: justify;}
.chiffre-romain {
    font-variant:small-caps;}
.chiffre-romain,sup{
    font-variant:normal}
dt:before {
    content: "⇢ ";}

/* couleurs juste pour la relecture */
abbr {
background-color:yellow;
}
q, blockquote {
background-color: blue;}
i {
background-color: green;}
em {
background-color: purple;}
cite {
color:purple;}

